@import url("https://fonts.googleapis.com/css?family=Space+Mono|Libre+Barcode+128+Text|VT323");


$container-font-color: #00ce0a;

@mixin container-font() {
  font-family: 'Space Mono', monospace;
  font-size: 30px;
}

@mixin char-name() {
  font-family: 'VT323', monospace;
  font-size: 40px;
  color: white;
}


.App {
  text-align: center;
  padding-top: 20px;
  height: 100vh;
  background-color: black;
}

.character-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'VT323', monospace;
  font-size: 40px;
  color: $container-font-color;
  
  .data {
    color: white;
  }
}

#super-container {
  @include container-font();
  text-align: center;
  color: $container-font-color;

  .char-name {
    @include char-name()
  }
}

#villain-container {
  @include container-font();
  text-align: center;

  .char-name {
    @include char-name()
  }
}

.input-box {
  height: 40px;
  width: 300px;
  font-size: 28px;
  font-family: 'Space Mono', monospace;
  border-color: white;
  border-width: 2px;
}

input[type=submit] {
  border-color: white;
  border-width: 2px;
  font-size: 30px;
  font-family: 'VT323', monospace;
}

.error-result {
  color: red;
  @include container-font();
  font-size: 20px;
}