@import url("https://fonts.googleapis.com/css?family=Space+Mono|Libre+Barcode+128+Text|VT323");

$container-font: 'Libre Barcode 128 Text', cursive;
$container-font-size: 50px;

.App {
  text-align: center;
  padding-top: 20px;
  height: 100vh;
  background-color: #efefef;
}

#title {
  color: black;
}

.character-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'VT323', monospace;
  font-size: 40px;
  
  .data {
    color: red;
  }
}

#super-container {
  font-family: $container-font;
  font-size: $container-font-size;
  text-align: left;
}

#villain-container {
  font-family: $container-font;
  font-size: $container-font-size;
  text-align: right;
}

.input-box {
  height: 40px;
  width: 300px;
  font-size: 28px;
  font-family: 'Space Mono', monospace;
  border-color: black;
  border-width: 2px;
}

input[type=submit] {
  border-color: black;
  border-width: 2px;
  font-size: 30px;
  font-family: 'VT323', monospace;
}

.error-result {
  color: red;
  font-family: 'Space Mono', monospace;
  font-size: 20px;
}